body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: #1a1f29;
    color: white;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 15px 0;
    cursor: pointer;
}

/* Main */
.main {
    flex: 1;
    background: #f2f4fa;
}

/* Topbar */
.topbar {
    background: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

/* Details */
.details {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin: 10px 5px;
    padding: 8px 12px;
    border: none;
    background: #2280f8;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}